{
    debug
}

http://127.0.0.1:8080 {
    route {
        tmpdocker {
            service test
            keep_alive 1m
            #scale_timeout 10s
        }
        reverse_proxy 127.0.0.1:8081
    }
}